#### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [4]:
import pandas as pd

log = pd.read_csv('visit_log.csv', sep=';')

def source_type(row):
    if (row['traffic_source'] == 'yandex') or (row['traffic_source'] == 'google'):
        return 'organic'
    elif (row['traffic_source'] == 'paid' and row['region'] == 'Russia') or (row['traffic_source'] == 'email' and row['region'] == 'Russia'):
        return 'ad'
    elif (row['traffic_source'] == 'paid' and row['region'] != 'Russia') or (row['traffic_source'] == 'email' and row['region'] != 'Russia'):
        return 'other'
    else:
        return row['traffic_source']

log['source_type'] = log.apply(source_type, axis = 1)
log.tail(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18928,1550094255,c7e4bce62a,https://host.ru/8880fd00cf23066541,Australia,e721d23ec6,yandex,organic
18929,1550094260,39aeec73f8,https://host.ru/ee7c4e0674a284ee3f,Russia,9c832cf9d4,direct,direct
18930,1550094269,f1b4590410,https://host.ru/a5dda93e70318570c0,Russia,7f59a1e6a7,direct,direct
18931,1550094269,a7e2dfd759,https://host.ru/ef57543002ce2a0f2a,Belarus,04fec64cda,direct,direct
18932,1550094280,5001544772,https://host.ru/9f90e5c423a5f976d4,Russia,072148e3ba,google,organic
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

#### Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц с текстами новостей. 
Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. 
Выполните следующие действия: Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение 
в соответствии с заданным шаблоном

In [5]:
df = pd.read_csv('URLs.txt')
df.head()
df[df.url.str.contains(r'/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

#### Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 
Под временем жизни понимается разница между максимальным и минимальным значением
столбца timestamp для данного значения userId.

In [12]:
rating = pd.read_csv('ratings.csv')
result = rating.groupby('userId').agg({'timestamp': ['min', 'max'], 'userId': 'count'})

def max_min(row):
    return row['timestamp']['max'] - row['timestamp']['min']
    
result['lifetime'] = result.apply(max_min, axis = 1)
result_ot100 = result[result['userId']['count'] >= 100]
result_ot100.head()

         timestamp             userId   lifetime
               min         max  count
userId
4        949778714   949982274    204     203560
5       1163373044  1163375145    100       2101
8       1154389340  1154474527    116      85187
15       997937239  1469330735   1700  471393496
17      1127468587  1127476640    363       8053

#### Задание 4
Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента

In [13]:
rzd = pd.DataFrame({
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]})

air = pd.DataFrame({
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

table1 = pd.concat([rzd, auto, air]).groupby('client_id').agg({'rzd_revenue' : 'sum', 'auto_revenue' : 'sum','air_revenue' : 'sum'}).reset_index()
print(table1)
print()
table2 = table1.merge(client_base, on = 'client_id')
print(table2)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4